header {
    background-position: center;
    background-image: url("https://megaone.acrothemes.com/cafe/images/banner-image.jpg");
    background-size: cover;
    height: 100vh;
}
.cafe {
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.social-profiles {
    li {
        margin: .5rem 0;
        padding: .7rem;
        border:none;
        border-radius: 100%;
        background-color: $tertiary-color;
        transition: .5s;
        text-align: center;
        cursor: pointer;
            a {
                color: $secondary-color;
            }
        &:hover {
            background-color: $secondary-color;
            transform: scale(1.1);
            a {
                color: $tertiary-color;
            }
        } 
    }
}
.cafe-item {
    padding: 20% 0;
    p {
        font-size: 36px;
        display: inline-block;
        color: $tertiary-color;
        background-color: $secondary-color;
        padding: .7rem 1rem;
    }
    h1 {
        font-size: $font-size-big;
        color: $tertiary-color;
        margin: .6rem 0 3rem;
        span {
            background-color: $primary-color;
            padding: .7rem 1rem;
        }
    }
    .cafe-btn {
        font-size: $font-size;
        padding: 1rem 2.5rem;
        border: none;
        border-radius: 30px;
        transition: .35s;
        cursor: pointer;
        &:hover {
            color: $tertiary-color;
            background-color: $secondary-color;
        }
    }
}
